.footer {
	padding-top: 25px;
}

.container-bg_indent_less {
	padding: 15px 30px 25px;
}

.footer-title {
	margin-bottom: 30px;
}

.footer__list {
	margin-bottom: 30px;
}

.footer__item:not(:last-child) {
	margin-bottom: 10px;
}