.section__title {
	font-size: 36px;
}

.section__image-left {
	float: left;
	margin-right: 30px;
}

.section__block {
	display: flow-root;
}

.section__block:not(:last-child) {
	margin-bottom: 30px;
}

.sectiom__image-right {
	float: right;
	padding-left: 40px;
}